@import './_App.sass'



// SEACH BAR
$searchbar-border-radius: 2px
$searchBarHeight: 35px
$searchBarWidth: 400px

.stickyHeader
	position: -webkit-sticky
	position: sticky
	top: 0
	z-index: 10

#mast	
	display: inline-block
	padding: 28px 30px 0 20px
	img
		height: 25px

#mast-media
	display: none
	position: absolute
	top: 20px
	left: 20px
	img
		height: 25px

.textStyle
	font-size: 0.8em

#loginBtn
	position: absolute
	top: 2px
	right: 20px
	color: rgba(10,10,10, 0.5)
	cursor: pointer
	&:hover
		color: black
	span
		font-size: 0.7em
	a, button
		margin: 3px 0 0 5px
		background-color: white
		border: none
		font-size: 0.8em
		color: black
		float: right
		font-family: 'Exo', sans-serif
		font-weight: 500

#headerBody
	background-color: white
	border-bottom: 1px solid $std-container-borderColour
	height: $header-height
	@include firstBreakHeader
		margin-bottom: 35px
	

#navDiv
	display: inline-block
	width: 240px // gives spacing to prevent searchBar overlap
	position: absolute
	top: 40px
	left: 230px


.underLine
	border-bottom: 2px solid rgb(141,211,95)
	position: absolute
	left: 10%
	right: 13%

.feat, .rec
	width: fit-content
	color: black
	font-size: 1em
	font-family: 'Lato', sans-serif
	letter-spacing: 0.1em
	display: inline-block

.feat
	position: relative
	left: 0px
	top: -7px

.rec
	position: relative
	left: 30px
	top: -7px

.headerSearchBar
	display: inline-block
	float: right
	width: fit-content
	border: 1px solid lightgrey
	border-radius: $searchbar-border-radius 0 0 $searchbar-border-radius
	height: $searchBarHeight
	position: absolute
	top: 23px
	right: 20px
	@include firstBreakHeader
		width: 100vw
		position: absolute
		top: 80px
		right: 0px
		border: none
		border-bottom: 1px solid $std-container-borderColour
	input
		padding: 0 0 0 12px
		height: $searchBarHeight - 2px
		width: $searchBarWidth 
		margin: 0
		border: none
		border-radius: 0
		&::placeholder
			color: rgba(140,140,140, 0.8)
			font-size: 1em
			letter-spacing: 0.03em
			padding-left: 3px
			font-family: 'Lato', sans-serif
			font-weight: 300
		@include firstBreakHeader
			width: 100vw
	#searchBtn		
		border-radius: none
		border: none
		height: $searchBarHeight - 2px
		width: 35px
		background-color: white
		float: right
		&:hover
			cursor: pointer
		@include firstBreakHeader
			position: absolute
			top: 0px
			right: 0px
			float: none



/* Slide in */
li:nth-child(2) a 
  


#AdvancedSearch-title
	position: absolute
	top: -14px
	right: 0
	font-size: 0.65em



		
#searchIcon
	height: 20px
	position: relative
	top: 1px
	right: 1px

#searchIcon-media
	height: 25px
	padding-top: 4px




