
# folders
# client/public/user_recipes_img/*
# client/public/user_profile_img/*
# client/tmp_upload/*
format_control/
old_serverFiles/
client/node_modules/
node_modules/

# keeps an empty file
# !client/public/user_recipes_img/.gitkeep 
# !client/public/user_profile_img/.gitkeep
# !client/tmp_upload/.gitkeep

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.env
README.md
setupTests.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

