@import '../_App.sass'

.faqBody
	margin: 0 auto
	padding: 70px 20px
	max-width: 800px
	line-height: 1.2em
	h2
		margin-bottom: 30px
	.faqTitle
		font-weight: bold
		font-size: 1em
		margin: 15px 0 5px
	.faqExplain
		font-size: 0.9em
		span
			margin: 10px 0 0 20px
			display: block

