@import '../_App'


.resetMsg
	text-align: center
	text-align: center
	line-height: 1em
	font-size: 0.9em
	.msg
		margin-bottom: 15px
	button
		border: none
		width: 100%
		border-radius: 4px
		margin-top: 10px
		color: white
		background-color: rgb(0,149,246)
		&:hover
			background-color: rgb(0,125,207)

#resetTitle
	text-align: center

.reset-container
	width: 330px
	margin: 150px auto 0
	background-color: white
	padding: 30px
	border: 1px solid $std-container-borderColour
	@include recipesSingleCardBreak
		width: 80vw
		position: static
	input
		border: 1px solid rgb(220,220,220)
		border-radius: 3px
		margin-bottom: 10px
		width: 100%
		display: block
	.hp
		display: none
	input::placeholder
		padding-left: 5px
		font-size: 0.8em
	button
		border: none
		width: 100%
		border-radius: 4px
		color: white
		background-color: rgb(0, 149, 246)
		padding-top: 5px
		font-size: 0.85em
		margin-bottom: 10px
		&:hover
			background-color: rgb(0, 125, 207)
	#emailReset-errorMsg
		text-align: center
	#resetMsg
		font-size: 0.75em
		line-height: 1.2em
		margin: 20px 0
		text-align: center
	p
		font-size: 0.7em
		line-height: 1em
		position: absolute
		bottom: 4px
		left: 20px
		width: 100%
