@import '../../_App'

#editLogin
	background-color: white
	border: 1px solid $std-container-borderColour
	border-radius: 5px
	padding: 30px 50px
	input
		border: 1px solid lightgrey
		margin-bottom: 10px
		width: 300px
		display: block
	#pwdNotice
		font-size: 0.8em
		color: grey
		line-height: 1.1em
		margin-bottom: 10px