@import '../../_App'

#editLogin
	background-color: white
	border: 1px solid $std-container-borderColour
	border-radius: 5px
	padding: 30px 50px
	input
		border: 1px solid lightgrey
		margin-bottom: 10px
		width: 370px
		display: inline-block
		float: right
	label
		padding-top: 5px
	#pwdNotice
		font-size: 0.7em
		color: grey
		line-height: 1.1em
		margin-bottom: 30px
		text-align: left
		width: 100%
		padding: 0

.inputDiv
	height: 50px

#changePwdNotice
	font-size: 0.7em
	color: grey
	margin-bottom: 20px