


#photo-container
	display: block
	padding-bottom: 10px
	#photo-msg
		font-size: 0.75em
		width: 220px
		height: 200px
		text-align: center
		line-height: 1.3em
		padding: 55px 20px 20px
		border: 1px solid rgb(219,219,219)
		margin-left: 222px
	#img-container
		width: 220px
		height: 200px
		border: 1px solid rgb(219,219,219)
		margin-left: 222px
		#img-show
			height: 100%
			width: 100%
			object-fit: cover



.ph-label
	position: absolute
	top: 80px
	left: 50px

.phIcon-profile
	display: inline-block
	position: relative