@import '../../_App.sass'

.pos-photo-title
	position: absolute
	top: 0

.photo-mv
	position: absolute
	top: 80px

#submit-container
	position: relative
	margin: 0 auto
	width: 100%
	right: 0
	padding: 30px 50px 50px 50px
	border: 1px solid $std-container-borderColour
	background-color: white
	border-radius: 5px
	// @include accountSecondBreak
	// 	width: 100vw
	// 	padding-left: 6%
	#req-note
		color: grey
		position: absolute
		top: 30px
		right: 50px
		font-size: 0.8em



.field-container-add
	margin-bottom: 4px
	textarea
		width: 598px
		border: 1px solid lightgrey
		margin-bottom: 4px
		// @include accountSecondBreak
		// 	width: 87vw
		&::-ms-input-placeholder
			color: $placeholder-color
			font-size: 0.8em
		&:-ms-input-placeholder
			color: $placeholder-color
			font-size: 0.8em
		&::placeholder
			color: $placeholder-color
			font-size: 0.8em


.submit-form-heading
	margin-bottom: 30px

.servngs-label
	color: grey
	font-size: 0.8em
	position: relative
	right: -360px
	top: 14px

.cookTime-label
	color: grey
	font-size: 0.8em
	position: relative
	left: -42px
	top: 16px

.cookingtime-text
	font-size: 0.85em
	position: relative
	right: -265px
	top: 5px
	// color: $std-label-color

// fixes the bug: float elements overflow outside parent container
.clearfix::after 
	content: ""
	clear: both
	display: table


.uploadText-profile
	position: relative
	top: -7px
	left: 5px

.pos-input
	position: relative
	left: 218px


.subRec-field-container
	position: relative
	margin: 0 0 15px 0
	min-height: 30px
	select
		display: block
		width: 200px
		margin: 0
		padding: 0
		font-size: 0.8em
		border: 1px solid lightgrey
		&:invalid
			color: gray
		&::-ms-input-placeholder
			color: $placeholder-color
		&:-ms-input-placeholder
			color: $placeholder-color
		&::placeholder
			color: $placeholder-color
	textarea
		float: right
		display: block
		width: 380px
		border: 1px solid lightgrey
		// @include accountSecondBreak
		// 	width: 87vw
	#titleInput
		width: 380px
		// @include accountSecondBreak
		// 	width: 87vw
	.diet-checkbox
		position: relative
		left: 10px
		height: 12px
		width: 12px
	.cookTime-input
		width: 50px
	#charCount
		font-size: 0.7em
		color: $std-label-color
		position: absolute
		top: 225px
		right: 272px
	.sub-subRec-field-container 
		display: inline-block
		width: fit-content
		vertical-align: top
		padding-right: 25px
		margin-top: 15px
		margin-bottom: 10px
		.subRec-title
			display: inline-block
			margin-bottom: 10px

#img-pos
	margin-left: 218px


.title
	input
		float: right

.description
	input
		float: right

.servings
	input
		width: 180px
		position: absolute
		right: 250px
.time
	input
		position: absolute
		right: 380px







#infotext
	position: absolute
	width: 400px
	right: 40px
	top: 30px
	font-size: 0.78em
	padding: 1px 4px
	border-radius: 1px
	line-height: 1.2em
	display: none


#profileImg-Profile
	height: 200px
	width: 200px
	object-fit: cover
	border: 1px solid lightgrey
	display: block
	margin-bottom: 5px

#profileImg-Rec
	height: 200px
	width: 200px
	object-fit: cover
	margin-bottom: 5px
	display: block



// .clearfix::after 
// 	content: ""
// 	clear: both
// 	display: table



.cusineList
	width: 380px
	height: 50px
	position: relative







$ingr-method-note-leftPadding: 30px




.noteInput
	padding-left: 5px
	margin-bottom: 3px
	width: 100%
	// @include accountSecondBreak
	// 	width: calc(87vw - 55px)

.inline-field
	display: inline-block

#remove_ingrField, #remove_noteField, #remove_methodField, #add_ingrField, #add_methodField, #add_noteField, #submitr-btn, #submitr-btn-top
	border-radius: 3px
	border: 1px solid lightgrey
	font-size: 0.8em
	padding: 0px 3px
	height: 18px
	width: fit-content



.ingrMethNoteTitle
	position: relative
	bottom: -10px

#note_title
	display: none
	font-size: 0.8em
	color: grey
	font-weight: normal
	position: relative
	right: -36px
	bottom: -12px

#diet-select-container
	margin: 5px 0 0 0
	position: relative
	left: -10px
	.check-container
		width: fit-content
		color: $std-label-color

#accoutBodyTag
	white-space: nowrap /* solves inline div problems */

// #msg-container 
// 	position: absolute
// 	right: 0
// 	top: 5px
// 	width: -moz-fit-content
// 	width: fit-content
// 	z-index: 10
// 	border-radius: 0 0 0 5px 
// 	.error-container
// 		color: rgb(251,80,84)
// 		padding: 10px 20px
// 		text-align: center
// 		font-size: 0.8em
// 		border-radius: 0 0 0 5px 
// 	.success-container
// 		color: #29c81e
// 		text-align: center
// 		font-size: 0.9em
// 		padding: 10px 20px
		


.submitr-btn
	margin: 30px 0 0 0
	padding: 5px 15px
	font-family: Roboto
	height: 30px
	font-size: 1em
	letter-spacing: 0.03em
	border: none
	color: white
	background-color: rgb(141,211,95)
	&:hover
		color: none
		background-color: rgb(141,211,95)
	&:disabled
		background-color: blue



#submitr-btn-top
	position: relative
	right: -610px
	top: -60px
	padding: 5px 10px
	height: 30px
	&:hover
		color: red

#addRemoveBtn-container
	height: 25px
	margin-right: 2px
	// @include accountSecondBreak
	// 	width: 87vw
	#add_ingrField, #add_methodField, #add_noteField, #remove_ingrField, #remove_methodField, #remove_noteField
		float: right
		color: $std-label-color
	#remove_ingrField, #remove_methodField, #remove_noteField
		margin-right: 5px
		color: $std-label-color


.thumb-image
	margin-top: 8px
	height: 200px
	width: auto

.construction
	text-align: center
	height: 500px
	padding-top: 250px

#upload-title
	margin-bottom: 20px


#mealType-select
	width: 200px

.form-title-inline
	display: inline-block

#submit-note
	text-align: center
	font-size: 0.9em
	margin-top: 30px
	// @include accountSecondBreak
	// 	margin-bottom: 40px



.unitDefault
	color: grey
	background-color: blue

.typeSelectUnit .unitDefault:checked,
.typeSelectUnit .unitDefault:focus 
	background: linear-gradient(#ff0000, #ff0000)
	-webkit-text-fill-color: blue
	color: blue




/*checkbox*/
.check-container  /* Customize the label (the container) */
	width: fit-content
	display: block
	font-weight: 400
	position: relative
	padding-left: 20px
	margin-left: 15px
	margin-bottom: 4px
	cursor: pointer
	font-size: 12px
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

.check-container input  /* Hide the browser's default checkbox */
	position: absolute
	opacity: 0
	cursor: pointer
	height: 0
	width: 0


.checkmark  /* Create a custom checkbox */
	position: absolute
	top: -1px
	left: 0
	height: 15px
	width: 15px
	background-color: none
	border: 1px solid rgb(178,178,178)


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after
	content: ""
	position: absolute
	display: none

.check-container input:checked ~ .checkmark:after
	display: block


/* Style the checkmark/indicator */
.check-container .checkmark:after  
	left: 4px
	top: 0px
	width: 3px
	height: 8px
	border: solid rgb(40,40,40)
	border-width: 0 2px 2px 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)