@import '../_App.sass';


.symContainer-resultsPage
	height: 25px
	width: fit-content
	position: absolute
	bottom: 15px
	left: 20px
	img
		height: 25px
		width: 25px
		margin-right: 3px

#results-body
	max-width: 650px
	margin: 10px auto
	min-height: 50px
	.result-container
		display: flex
		height: 180px
		margin: 5px
		background-color: white
		border-radius: 5px
		border: 1px solid rgb(226,230,233)
		.img-container
			flex: 0 0 180px
			height: 100%
			border-radius: 5px 0 0 5px
			img
				object-fit: cover
				height: 100%
				width: 100%
				border-radius: 5px 0 0 5px
		.resultInfo-container
			display: flex
			flex-direction: column
			height: 100%
			padding: 0 20px
			position: relative
			font-family: 'Lato', sans-serif 
			h4
				font-family: 'Lato', sans-serif 
				font-weight: 400
				max-height: 45px
				overflow: hidden
				padding: 0
				margin: 10px 0 0 0
				@include searchPageBreak
					font-size: 3.5vw
			.description	
				font-size: 0.9em
				font-weight: 300
				overflow: hidden
				@include searchPageBreak
					font-size: 2.9vw
			.search-sym
				height: 25px
				margin-right: 3px
			.sym-container
				position: absolute
				left: 0
				bottom: 5px
			.cooktime
				font-weight: 300
				font-size: 0.85em
				position: absolute
				right: 10px
				bottom: 15px


.line-clamp
	display: -webkit-box
	-webkit-line-clamp: 7
	-webkit-box-orient: vertical

